
     <!-- section contact me -->

     <section id="contact" class="bg-light p-5">
      <div class="container">
          <h2 class="text-center">
              تماس با من
          </h2>
          <div class="row align-items-center justify-content-center">
              
              <div class="col-md p-5">
                  <div class="list-group list-group-flush">
                      <a href="#" class="list-group-item">
                          <i class="bi bi-youtube h2 x-4"></i>
                          کانال یوتیوب
                      </a>
                      <a href="#" class="list-group-item">
                          <i class="bi bi-instagram h2 x-4"></i>
                          کانال اینستگرام
                      </a>
                      <a href="#" class="list-group-item">
                          <i class="bi bi-youtube h2 x-4"></i>
                          کانال یوتیوب
                      </a>
                  </div>
              </div>
              <div class="col-md p-5">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">آدرس ایمیل</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">پیام</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-primary ">ارسال پیام</button>
                  </div>
            </div>
          </div>
      </div>
  </section>
