<!-- section  home-->
<section class="bg-light text-center text-sm-start">
  <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between p-5">
          <div>
              <h1 class="display-6">آموزش صفر تا صد</h1>
              <div class="h1">
                  <span class="text-warning">برنامه نویسی </span>و
                  <br>طراحی لباس
              </div>
              <p class="lead">با آموزش های آنلاین سرویس استایل همراه باشید تا برنامه نویسی و طراحی لباس و خیاطی را از صفر یاد بگیرید.</p>
              <button class="btn btn-primary btn-lg"> دوره های آموزشی</button>
          </div>
          <img src="../assets/img/home.jpg" alt="" class="img-fluid w-50 d-none d-sm-block">
      </div>
  </div>
</section>

