<!-- section Courses -->
<section class="p-5" id="lesson">
  <div class="hedabout"></div>
  <div class="container">
      <div class="row g-4 text-center">
          <div class="col-md-4">
              <div class="card bg-primary text-light">
                  <div class="card-body text-center">
                      <div class="h1"><i class="bi bi-laptop"></i>
                          <h3> مقدمات برنامه نویسی</h3>
                      </div>
                      <p class="card-text">در این مجموعه آموزش شما مبانی برنامه نویسی را یاد خواهید گرفت. </p>
                      <a href="" class="btn btn-warning">مشاهده</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-warning text-light">
                  <div class="card-body text-center">
                      <div class="h1"><i class="bi bi-trophy"></i>
                          <h3>رمز موفقیت</h3>
                      </div>
                      <p class="card-text">در این مجموعه آموزش شما مبانی برنامه نویسی را یاد خواهید گرفت. </p>
                      <a href="" class="btn btn-primary">مشاهده</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-primary text-light">
                  <div class="card-body text-center">
                      <div class="h1">
                          <i class="bi bi-file-earmark-code"></i>
                          <h3>برنامه نویسی وب</h3>
                      </div>
                      <p class="card-text">در این مجموعه آموزش شما مبانی برنامه نویسی را یاد خواهید گرفت. </p>
                      <a href="" class="btn btn-warning">مشاهده</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row g-4 text-center pt-3">
          <div class="col-md-4">
              <div class="card bg-light text-dark">
                  <div class="card-body text-center">
                      <div class="h1"><i class="bi bi-star"></i>
                          <h3> مقدمات برنامه نویسی</h3>
                      </div>
                      <p class="card-text">در این مجموعه آموزش شما مبانی برنامه نویسی را یاد خواهید گرفت. </p>
                      <a href="" class="btn btn-warning">مشاهده</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-primary text-light">
                  <div class="card-body text-center">
                      <div class="h1"><i class="bi bi-pencil"></i>
                          <h3>رمز موفقیت</h3>
                      </div>
                      <p class="card-text">در این مجموعه آموزش شما مبانی برنامه نویسی را یاد خواهید گرفت. </p>
                      <a href="" class="btn btn-warning">مشاهده</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-light text-dark">
                  <div class="card-body text-center">
                      <div class="h1">
                          <i class="bi bi-scissors"></i>
                          <h3>برنامه نویسی وب</h3>
                      </div>
                      <p class="card-text">در این مجموعه آموزش شما مبانی برنامه نویسی را یاد خواهید گرفت. </p>
                      <a href="" class="btn btn-warning">مشاهده</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
