<nav class="navbar navbar-expand-md bg-light py-3 fixed-top">
  <div class="container">
      <a href="#" class="navbar-brand">Amirhosein Kimiae</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-center"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a href="#lesson" class="nav-link"> learn</a>
              </li>
              <li class="nav-item">
                  <a href="#about" class="nav-link">about me</a>
              </li>
              <li class="nav-item">
                  <a href="#contact" class="nav-link">contact me</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div class="hed" style="display: block;">

</div>
<div>

  <app-home></app-home>
  <app-about></app-about>
  <app-learn></app-learn>
  <app-main></app-main>
  <app-contact></app-contact>
</div>


<footer class="bg-warning text-center p-2">
  <P class="lead">Copyright &copy;2023</P>
</footer>


